.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.listContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.listItems {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  max-width: 250px;
}
